header{
    background-color: rgb(197, 199, 218);
    display: flex;
    margin: 1px;
    justify-content: space-between;
    

}



a{  
    
    text-decoration: none;
    color: black;
    border-radius: 16px;
    justify-content: center;

    margin: 5px;
    padding: 5px;




}

.login{
    display: flex;
    align-items: center;


}

.obrazek img{
    margin: 16px;
    padding: 16px;
    border-radius: 126px;
    max-width: 30%;


}


main{
    min-height: 400px;


}


footer{
    background-color: rgb(148, 157, 157);
    min-height: 300px;
    

}

body{
    margin: 0px;
    padding: 0px;

}

.obrazky{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;

}

h1{
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding: 15px;
    text-decoration: none;

}

p{
    padding: 15px;
    text-decoration: none;

}

li{
    text-decoration: none;

}